.login-body{
    background-image: url('../../images/bannerbackground-login1.png');
    background-size: cover;
    height: 80vh;
    background-position: center;
}
.login-logo{
    width: 270px;
    margin-bottom: 20px;
}
.login-form input{
    width: 300px;
    margin: 10px 0;
    background-color: rgba(236, 236, 236, 0.815);
    border: none;
    padding: 10px;
}

.login-form input::-webkit-input-placeholder{
    color: rgb(168, 167, 167);
    font-size: 12px;
}
.login-form button{
 width: 300px;
}

.login-form small,a{
    color:#F91944;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}
.login-form a:hover{
    color: red !important;
}