.banner{
    background-image: url(../../images/bannerbackground.png);
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container{
    position: relative !important;
}
.search-btn{
    position: absolute !important;
    border: none;
    right: 0;
    z-index: 10 !important;
    
}
.banner h1{
    color: rgb(66, 66, 66);
}